@charset "UTF-8";
/* CSS Document */

body  {
	width:  1080px;
	height:  723px;
	margin-left:  auto;
	margin-right:  auto;
	background-repeat:  no-repeat;
	background-color:  #FFF;
	background-position:  center;
	background-position:  top;
}

#bar  {
	position:  fixed;
	top:  0;
	left:  0;
	width:  100%;
	height:  50px;
	background-color:  #000;
	z-index:  100;
}

#nav  {
	position:  fixed;
	bottom:  0;
	left:  0;
	width:  100%;
	height:  100px;
	background-color:  #FFF;
}

a { 
	text-decoration: none; 
}
a:visited { 
	text-decoration: none; 
}
a:hover { 
	text-decoration: none; 
}
a:focus { 
	text-decoration: none;
}
a:hover, a:active { 
	text-decoration: none; 
}

#nav  ul  {
	list-style:  none;
	color:  #999;
	font-size:  12px;	
	font-family:  Georgia, "Times New Roman", Times, serif;
	text-decoration:  none;
}

#nav  li  {
	color:  #999;	
}

#nav  li:hover  {
	color:  #666;	
}

#superContainer  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/thecrimsoncardinalmusic/images/CCMainePageTitle.png);
	width:  1000px;
	height:  300px;	
	position:  absolute;
	left:  50%;
	top:  50%;
	margin:  -150px 0 0 -500px;
	z-index:  50;
}

#container  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/thecrimsoncardinalmusic/images/CCMainePageButton2.png);
	width:  275px;
	height:  75px;	
	position:  absolute;
	left:  50%;
	top:  50%;
	margin:  55px 0 0 -288px;
	opacity:  0.9;
	z-index:  50;
}

#container:hover  {
	opacity:  1	
}
